src/main/java/WSDL/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serverSOAP.banking.javaguides.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serverSOAP.banking.javaguides.net/" name="accountWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serverSOAP.banking.javaguides.net/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="createAccount">
<part name="parameters" element="tns:createAccount"/>
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse"/>
</message>
<message name="getAccountById">
<part name="parameters" element="tns:getAccountById"/>
</message>
<message name="getAccountByIdResponse">
<part name="parameters" element="tns:getAccountByIdResponse"/>
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit"/>
</message>
<message name="depositResponse">
<part name="parameters" element="tns:depositResponse"/>
</message>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"/>
</message>
<message name="withdrawResponse">
<part name="parameters" element="tns:withdrawResponse"/>
</message>
<message name="getAllAccounts">
<part name="parameters" element="tns:getAllAccounts"/>
</message>
<message name="getAllAccountsResponse">
<part name="parameters" element="tns:getAllAccountsResponse"/>
</message>
<message name="deleteAccount">
<part name="parameters" element="tns:deleteAccount"/>
</message>
<message name="deleteAccountResponse">
<part name="parameters" element="tns:deleteAccountResponse"/>
</message>
<portType name="AccountSOAP">
<operation name="createAccount">
<input wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/createAccountRequest" message="tns:createAccount"/>
<output wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/createAccountResponse" message="tns:createAccountResponse"/>
</operation>
<operation name="getAccountById">
<input wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/getAccountByIdRequest" message="tns:getAccountById"/>
<output wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/getAccountByIdResponse" message="tns:getAccountByIdResponse"/>
</operation>
<operation name="deposit">
<input wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/depositRequest" message="tns:deposit"/>
<output wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/depositResponse" message="tns:depositResponse"/>
</operation>
<operation name="withdraw">
<input wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/withdrawRequest" message="tns:withdraw"/>
<output wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/withdrawResponse" message="tns:withdrawResponse"/>
</operation>
<operation name="getAllAccounts">
<input wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/getAllAccountsRequest" message="tns:getAllAccounts"/>
<output wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/getAllAccountsResponse" message="tns:getAllAccountsResponse"/>
</operation>
<operation name="deleteAccount">
<input wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/deleteAccountRequest" message="tns:deleteAccount"/>
<output wsam:Action="http://serverSOAP.banking.javaguides.net/AccountSOAP/deleteAccountResponse" message="tns:deleteAccountResponse"/>
</operation>
</portType>
<binding name="AccountSOAPPortBinding" type="tns:AccountSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deposit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="withdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="accountWS">
<port name="AccountSOAPPort" binding="tns:AccountSOAPPortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>